@font-face { 
	font-family: "Coolvetica"; 
	src: url("../fonts/coolvetica.ttf"); 
}

body {
	padding-top :170px;
	background: #FFFFFF !important;
	background-image:url('../img/hackandmake_shape_animated.svg');
	background-position:  center-bottom;
	background-width:100%;
  	color: rgb(52,58,64);
}
a, .u-url  {
	color: #D67513;	/* G20 */
}
 h2, h3, h4, h5, h6 {
	font-family: "Coolvetica";
	/* color: #707070;			*/ /* G70 */ 
	color: rgb(52,58,64);
}
h1 {
	font-family: "Coolvetica";
	color: rgb(192,26,44) /* Red */
}
p {
	font-family: "helvetica";	
}
.navbar   {
	background: rgb(192,26,44);
 	background: linear-gradient(104deg, rgba(192,26,44,1) 37%, rgba(52,58,64,1) 37%);
}
.post-list{
	margin-bottom:60px;
}
.navbar-dark .navbar-brand {
  	color: #FFFFFF;
}
#footer {
	margin-top: auto;
	z-index: 1;
    	position: fixed		;
   	right: 0;
     	left: 0;
     	bottom: 0;
     	padding: 1rem;
	width:100%;
  	background-color: #f5f5f5;
	background:linear-gradient(104deg, rgba(192,26,44,1) 25%, rgba(52,58,64,1) 25%);	
	.u-url  {
	color: #FFFFFF;	/* G20 */!important
}

a:hover {
	color: rgb(52,58,64);;
}
